<!-- Profile Form Page -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="mySearch">
<h3 class="w3-center">{{isNew?'NEW':'UPDATE'}} PROFILE</h3>
<div class="w3-row-padding" style="margin-top:64px">
<div class="w3-half">
<form [formGroup]="profileForm" (ngSubmit)="submitNewProfile()">
<fieldset [disabled]="isSubmitting">
<p><button class="w3-button w3-black" type="button" (click)="openUploadPic()">Upload Profile Pic</button></p>
<p *ngIf="picUploaded"><input class="w3-input" formControlName="profilePic" placeholder="Profile Pic"></p>
<p><input class="w3-input" formControlName="frameworks" 
placeholder="Enter Languages & Frameworks (separated by commas)"></p>
<p><input class="w3-input" formControlName="focus" placeholder="Focus"></p>
<p><input class="w3-input" formControlName="skills" placeholder="Enter any skills you want to highlight"></p>
<p>
<label for="experience">Experience</label>
<span class="sliderDiv">
<input type="range" min="0" max="11" value="1" step="1" class="slider" 
id="myRange" (change)="setExperience($event.target.value)"></span>
<input class="w3-input-number" formControlName="experience"></p>
<p>
<label for="education">Formal Education</label><br>
<input class="w3-radio" type="radio" formControlName="education" value="N" checked>None
<input class="w3-radio" type="radio" formControlName="education" value="B">Bachelor
<input class="w3-radio" type="radio" formControlName="education" value="M">Master
<input class="w3-radio" type="radio" formControlName="education" value="D">PhD</p>
<p>
<input class="w3-input" formControlName="location" placeholder="Enter location">
<button class="w3-button w3-black" type="button" (click)="getUserLocation()">Use My Current Location</button></p>
<p>
<label for="availability">Availability</label><br>
<input class="w3-radio" type="radio" formControlName="availability" value="immediate" checked>Right Now
<input class="w3-radio" type="radio" formControlName="availability" value="next30">Within Next 30 Days
<input class="w3-radio" type="radio" formControlName="availability" value="other">Just Keep Me Posted</p>
<p>
<select class="w3-input" formControlName="pLength">
<option *ngFor="let o of pLengths" [value]="o.val">{{o.label}}</option></select></p>
<p>
<button class="w3-button w3-blue" type="submit" [disabled]="!profileForm.valid">
<i class="fa fa-spinner" style="display:none"></i>
<i class="fa fa-check"> </i> Submit Profile</button></p></fieldset></form></div></div></div>