<!-- Auth Page -->
<div class="w3-container w3-white" style="padding:128px 16px" id="auth">
<h3 class="w3-center">SIGN {{authType=='signin'?'IN':'UP'}} - J.N.A.J.</h3>
<div class="w3-row-padding" style="margin-top:64px">
<div class="w3-half w3-card w3-dark-grey" style="margin-left">
<!--errors-list [errors]="errors"></errors-list-->
<form [formGroup]="authForm" (ngSubmit)="doAuth()">
<fieldset [disabled]="isSubmitting">
<ng-container *ngIf='authType=="signup"' formGroupName="name">
<p>
<input class="w3-input" formControlName="first" placeholder="First Name" autocomplete="first-name"/></p>
<p>
<input class="w3-input" formControlName="last" placeholder="Last Name" autocomplete="last-name"/></p></ng-container>
<p *ngIf='authType=="signup"'>
<input class="w3-input" formControlName="email" placeholder="Email" autocomplete="email"/></p>
<p>
<input class="w3-input" formControlName="handle" placeholder="Username" autocomplete="username"/></p>
<!--oninvalid="this.setCustomValidity('You must specify at least one language or framework')"
oninput="setCustomValidity('')"-->
<p>
<input class="w3-input" type="password" formControlName="password" 
placeholder="Password" autocomplete="new-password"/></p>
<p *ngIf='authType=="signup"'>
<input class="w3-input" type="password" formControlName="c_password" 
placeholder="Confirm Password" autocomplete="new-password"/></p>
<!--p><input id="pinCtrl" min="0" max="9999" pattern="[0-9]*" type="number" inputmode="numeric" autofocus  
style="-webkit-text-security:disc;" placeholder="Enter Pin" [formControl]="pinCtrl"/></p-->
<p>
<button class="w3-button w3-green" [disabled]="!authForm.valid" type="submit">
<i class="fa fa-spinner" style="display:none"> </i>
<i class="fa fa-sign-in"> </i> Sign {{authType=='signin'?'In':'Up'}}</button></p>
<p>
<a routerLink="{{'/auth'+(authType=='signin'?'/signup':'/signin')}}">
{{authType=='signin'?'Need an account?':'Already have account?'}}</a></p></fieldset></form></div></div></div>

<!--p *ngIf='authRole=="admin"&&authType=="signup"'>
<input formControlName="adminCode" placeholder="Admin Requestration Code"/></p-->